.maindiv{
  margin:0;
  padding:0;
  }
  .container{
    margin: 100px;
    padding:50px;
    background-color: rgb(214,225,240);
    height: 700px;
    width:1700px;
    display: flex;
    justify-content: center;

  }
  .insidediv{
    background-color: rgb(255, 255, 253);
    height: 600px;
    width: 450px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    .insidediv img{
      display:flex;
      align-items: center;
      max-height:350px;
      max-width: 450px; 
      margin: 1px;
      margin-left:2px;

      padding:10px;
      border-radius: 30px;
      
    }
    
  .textdiv{
    margin:10px;
    padding:10px;
    font-size: 30px;

  }
   
 @media screen and (min-width: 600px) {
.container {
            background-color: rgb(214, 225, 240);
            height: 350px;
              width: 850px;
          }
.insidediv{
        height: 300px;
        width: 225px;
      }
.insidediv img {
              max-height: 150px;
              max-width: 195px;
              margin-top: 0px;
              margin-bottom:0px;
              position:relative;
            }

.textdiv{
  margin-top: 0px;
  padding: 0px;
  font-size: 10px;
 


}
        }
@media screen and (min-width: 992px){
.container{
  background-color: rgb(214, 225, 240);
  height: 700px;
 width: 1700px;
}
.insidediv {
  height: 600px;
    width: 450px;
   }

.insidediv img {
max-height: 350px;
  max-width: 450px;
  margin-top:5px;
   }
.textdiv {
       margin-top: 1px;
       padding: 1px;
  font-size: 20px;
     }
  }